<!-- <div id="my_pdf_viewer">
  <div id="canvas_container">
    <canvas id="pdf_renderer"></canvas>
  </div>
  <div id="navigation_controls">
    <button id="go_previous">Previous</button>
    <input id="current_page" value="1" type="number" />
    <button id="go_next">Next</button>
  </div>
  <div id="zoom_controls">
    <button id="zoom_in">+</button>
    <button id="zoom_out">-</button>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          Online Form
        </div>
        <div class="card-body">
          <h5 class="card-title">Bajaj Alliance: Medical</h5>
          <div class="row">
              <div class="col-6">Purpose of Insurance</div>
              <div class="col-6">
                <input type="text" (focus)="onFocus('PurposeOfInsurance')">
              </div>
            </div>
          <div class="row">
            <div class="col-6">Name</div>
            <div class="col-6">
              <input type="text" (focus)="onFocus('Name')">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          Document Viewer
        </div>
        <div class="card-body">
          <canvas id="the-canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
