<div class="container-fluid no-gutters">
  <div class="row">
    <div class="col-5">
      Form Type:
      <select class='form-control form-control-sm' [(ngModel)]="formType" style="width:300px">
        <option value="MedicalForm">Medical Form</option>
        <option value="NonMedicalForm">Non Medical Form</option>
      </select><br>
      <div *ngIf="formType === 'MedicalForm'">
          <app-medical-form></app-medical-form>
      </div>
      <div *ngIf="formType === 'NonMedicalForm'">
          <app-non-medical-form></app-non-medical-form>
      </div>
    </div>
    <div class="col-7" style="position: fixed;left:540px">

      <div class="row no-gutters">
        <div class="card col-12">
          <div class="card-header">
            Selected View
          </div>
          <div class="card-body">
            <img id='newImg' />
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="card col-12">
          <div class="card-header">
            Document View
          </div>
          <div class="card-body" style="overflow: scroll;height:400px;">
            <canvas id="the-canvas"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
