<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          Online Form
        </div>
        <div class="card-body">
          <h5 class="card-title">Bajaj Alliance: Medical</h5>
          <div class="row">
            <div class="col-6">Purpose of Insurance</div>
            <div class="col-6">
              <input type="text" (focus)="onFocus('PurposeOfInsurance')">
            </div>
          </div>
          <div class="row">
            <div class="col-6">Name</div>
            <div class="col-6">
              <input type="text" (focus)="onFocus('Name')">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-header">
          Document Viewer
        </div>
        <div class="card-body">
          <canvas id="the-canvas"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
